# Default timeout for tests in milliseconds
DEFAULT_TIMEOUT=60000

# Outside Base/Prod Variables
Outside_Prod_URL=https://outside.studio/
Outside_ADMIN_USERNAME=rosan@test.com
Outside_ADMIN_PASSWORD=*********

# Additional Variables if/when needed
# Sample QA Variables
Outside_QA_URL=https://outside.studio/
Outside_QA_ADMIN_USERNAME=rosan@test.com
Outside_QA_ADMIN_PASSWORD=*********
