# Default timeout for tests in milliseconds
DEFAULT_TIMEOUT=60000

# Outside Base/Prod Variables
Outside_Prod_URL=https://outside.studio/
Outside_ADMIN_USERNAME=rosan@test.com
Outside_ADMIN_PASSWORD=*********

# Additional Variables if/when needed
# Sample QA Variables for one of the client {WAY - PROUSH}
Way_QA_URL=https://way-2025.webflow.io/
Way_QA_ADMIN_USERNAME=rosan@test.com
Way_QA_ADMIN_PASSWORD=*********


# CGH STG Variables
CGH_STG_URL=https://cgh-headless-git-refact-migrate-to-next-js-outsidetech.vercel.app/
CGH_STG_USERNAME=rosan@test.com
CGH_STG_PASSWORD=*********

# Pagespeed Variables
PS_URL=""
PS_APIKEY=**********